<div class="login">
    <div class="">
        <label>email</label>
        <input [(ngModel)]="email" type="text">
    </div>
    <div class="">
        <label>Senha</label>
        <input [(ngModel)]="senha" type="text">
    </div>
    <button (click)="auth.emailSignin(this.email, this.senha)" type="button">Login</button>
    <button (click)="auth.googleSignin()" type="button">LoginGoogle</button>

</div>

<div *ngIf="auth.error" style="color: red;" class="">
    {{auth.error}}
</div>
<div *ngIf="auth.usuario" class="">
    <button (click)="auth.signOut()">Sair</button>
</div>